p {
    line-height: 1.5;
}

header {
    background: rgb(57, 164, 57);
    height: 90px;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding-top: 0px;
}

body:{background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}



body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 100vh;
    flex: 1;
    
}

img {
    margin-left: 550px;
    style="float: left; margin: right 200px;"
    <div style="text-align: right;" img src="Akira.JPG" width="150"/>
      </div>
    <img style="float: left; margin: 0px 15px 15px 0px;" src="image/your-image.png" width="100" />
    <br style="clear:both" />
}
 img {margin-left: 1000px;
style=float:right; margin: right 100px;}

h1{text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}


}